<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Crypto</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/style.css">
        <!-- LINEICONS -->
        <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
        <!-- JS -->
        <script src="../public/bundle.js"></script>
    </head>

    <body>
        <!-- Header -->
        <div class="container-header">
            <header class="header">
                <img src="../img/logo.svg" alt="logo-crypto">
                <nav class="nav">
                    <ul class="ul">
                        <li class="li"><a href="#">Home</a></li>
                        <li class="li"><a href="#">About</a></li>
                        <li class="li"><a href="#">Service</a></li>
                        <li class="li"><a href="#">Roadmap</a></li>
                        <li class="li"><a href="#">Team</a></li>
                        <li class="li"><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
            <!-- Welcome -->
            <div class="welcome">
                <div class="description-major">
                    <h1>Trade and Invest on Crypto Using Our Platform</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                    <a href="#">Register Now</a>
                </div>
                <figure>
                    <img src="../img/hero-img.svg" alt="Crypto-major">
                </figure>
            </div>
        </div>
        <!-- Specialiaties -->
        <div class="container-specialiaties">
            <div class="specialiaties">
                <div class="description-specialiaties">
                    <h1>Our Specialiaties</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore .
                    </p>
                </div>
                <div class="container-info">
                    <div class="card-crypto">
                        <figure>
                            <img src="../img/our-1.svg" alt="our-1">
                        </figure>
                        <div class="description-crypto">
                            <h1>Buy Your Crypto</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                            </p>
                        </div>
                    </div>
                    <div class="card-crypto">
                        <figure>
                            <img src="../img/our-2.svg" alt="our-2">
                        </figure>
                        <div class="description-crypto">
                            <h1>Sell Instantly</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-crypto">
                        <figure>
                            <img src="../img/our-3.svg" alt="our-3">
                        </figure>
                        <div class="description-crypto">
                            <h1>Invest for Longterm</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About -->
        <div class="container-about">
            <figure>
                <img src="../img/about.png" alt="about">
            </figure>
            <div class="description-about">
                <h1>About Us</h1>
                <div class="parrafos">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                </div>
                <a href="#">Learn More</a>
            </div>
        </div>
        <!-- Feactures -->
        <div class="container-feactures">
            <div class="feactures">
                <div class="description-feactures">
                    <h1>Our Awesome Features</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                </div>
                <div class="container-feacturs">
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-money-protection"></i>
                        </div>
                        <div class="description-card">
                            <h1>Secure Wallet</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-alarm"></i>
                        </div>
                        <div class="description-card">
                            <h1>Fast Notifications</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-reload"></i>
                        </div>
                        <div class="description-card">
                            <h1>Exchange Service</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-cog"></i>
                        </div>
                        <div class="description-card">
                            <h1>Complete Solution</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-bolt-alt"></i>
                        </div>
                        <div class="description-card">
                            <h1>Trading Platform</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                    <div class="card-feactures">
                        <div class="icons">
                            <i class="lni lni-coin"></i>
                        </div>
                        <div class="description-card">
                            <h1>Investment</h1>
                            <p>
                                Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- RoadMap -->
        <div class="container-like">
            <figure>
                <img src="../img/estadisticas.png" alt="estadisticas">
            </figure>
            <div class="description-like">
                <h1>Great Effeciency Like Never Before</h1>
                <div class="parrafos-like">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                </div>
                <a href="#">Dowload History</a>
            </div>
        </div>
        <!-- Team -->
        <div class="container-team">
            <div class="team">
                <div class="description-team">
                    <h1>Meet Our Team</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt. Cryptocash
                    </p>
                </div>
                <div class="container-profiles">
                    <div class="card-profile">
                        <figure>
                            <img src="../img/user1.png" alt="user1">
                        </figure>
                        <div class="description-profile">
                            <h2>Mdisdh Dksdd</h2>
                            <p>CEO</p>
                        </div>
                    </div>
                    <div class="card-profile">
                        <figure>
                            <img src="../img/user2.png" alt="user2">
                        </figure>
                        <div class="description-profile">
                            <h2>Rdisdh Yksdd</h2>
                            <p>Product Manager</p>
                        </div>
                    </div>
                    <div class="card-profile">
                        <figure>
                            <img src="../img/user3.png" alt="user3">
                        </figure>
                        <div class="description-profile">
                            <h2>Qdisdh Eksdd</h2>
                            <p>Business Manager</p>
                        </div>
                    </div>
                    <div class="card-profile">
                        <figure>
                            <img src="../img/user4.png" alt="user4">
                        </figure>
                        <div class="description-profile">
                            <h2>Shdjsiw Sdklj</h2>
                            <p>Digital Marketer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Crypto -->
        <div class="container-crypto">
            <figure>
                <img src="../img/contador.svg" alt="estadisticas">
            </figure>
            <div class="descrip-crypto">
                <h1>Smart and Secure Way to Invest in Crypto</h1>
                <div class="parrafos-crypto">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                </div>
                <a href="#">Buy Token Now</a>
            </div>
        </div>
        <!-- Contact - Crypto -->
        <div class="container-contact">
            <div class="contact">
                <div class="form">
                    <div class="description-contact">
                        <h1>Contact With Us</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt.
                        </p>
                    </div>
                    <form action="#" class="container-form">
                        <div class="inputs">
                            <input type="text" name="name" placeholder="Name" required>
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="inputs">
                            <input type="tel" name="tel" placeholder="Phone" required>
                            <input type="tex" name="subject" placeholder="Subject">
                        </div>
                        <div class="inputs">
                            <textarea name="textarea" placeholder="Message" cols="30" rows="5" required></textarea>
                        </div>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31338.58619191599!2d-74.80918757246094!3d10.938934763669565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1715867191002!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <div class="description-footer">
                    <figure>
                        <img src="../img/logo.svg" alt="logo-footer">
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut labore.
                    </p>
                    <div class="networks">
                        <a href="#">
                            <box-icon class="icon" name='facebook' type='logo' color='#ffffff' ></box-icon>
                        </a>
                        <a href="#">
                            <box-icon class="icon" name='twitter' type='logo' color='#ffffff' ></box-icon>
                        </a>
                        <a href="#">
                            <box-icon class="icon" name='linkedin' type='logo' color='#ffffff' ></box-icon>
                        </a>
                        <a href="#">
                            <box-icon class="icon" name='instagram-alt' type='logo' color='#ffffff' ></box-icon>
                        </a>
                    </div>
                </div>
                <div class="company">
                    <h4>Company</h4>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>
                </div>
                <div class="resource">
                    <h4>Resource</h4>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">IOS & Android Apps</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support Forum</a></li>
                    <li><a href="#">Terms Conditions</a></li>
                </div>
                <div class="resource-pa">
                    <h4>Resource</h4>
                    <p>
                        Company No: C5B345
                        CSINE GROUP LTD.
                    </p>
                    <p>
                        Address: M-321 Volunt Ave,
                        Staten Islandm, NY 201526
                    </p>
                </div>
            </div>
            <div class="copyright-area">
                <p>Developed by Luis David Gil</p>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>